body {
    padding-top:130px;
   
}

footer {
    text-align: center;
    width: 100%;
    background-color:#222;
    margin-top:20px;
}

footer a {
    color:#9d9d9d;
    text-decoration:none;
}
footer a:visited,
footer a:hover {
    color:#fff;
    text-decoration:none;
}

.logo {
    font-size:20px;
    color:darkorange;
}

.navbar-inverse .navbar-nav>li>a.login {
    color: #fff;
    background-color: #5cb85c;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 7px 18px;
    margin-top: 8px;
    margin-right:20px;
}

.navbar-inverse .navbar-nav>li>a.register {
    color: #fff;
    background-color:#31b0d5;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 7px 18px;
    margin-top: 8px;
    margin-right:20px;
}

.navbar-inverse .navbar-nav>li>a.adminlogin{
    color: #fff;
    background-color:#ca0e31;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 7px 18px;
    margin-top: 8px;

}
.carousel-inner > .item > a > img,
.carousel-inner > .item > img {
    width:1000px;
    height:350px;
}

.carousel {
    position: relative;
    max-width: 900px;
    margin: auto;
}

 .navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a { color:#ff8c03;}

 .logoimg {
     width: 55px;
    float: left;
    margin-top: 5px;
    margin-bottom: 10px;
 }

 .alert {
     padding: 1px 30px;
     border-radius: 10px;
    display: block;
    text-align: center;
    margin-bottom:0px;
 }

 .customradio td,
 .customradio td label{
     padding-right:5px;
     padding-left:5px;
 }

 caption {
     text-align:center;
 }

@media (min-width: 768px) {
    .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
        margin-left: 0px;
        margin-top:60px;
    }
}


